@model IEnumerable<Inzynierka.Models.Rental>

<h2>Historia Wynajmów</h2>

<table class="table">
    <thead>
        <tr>
            <th>Pojazd</th>
            <th>Kierowca</th>
            <th>Data Rozpoczęcia</th>
            <th>Data Zakończenia</th>
            <th>Przebyty Dystans</th>
            <th>Uwagi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model)
        {
            <tr>
                <td>@rental.Car.RegistrationNumber - @rental.Car.Model</td>
                <td>@rental.Driver.FullName</td>
                <td>@rental.StartDate.ToShortDateString()</td>
                <td>@rental.EndDate?.ToShortDateString()</td>
                <td>@rental.DistanceTraveled</td>
                <td>@rental.Notes</td>
            </tr>
        }
    </tbody>
</table>
