@model Inzynierka.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionNeeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissionNeeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExhaustGasEmissionCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExhaustGasEmissionCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GearboxType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GearboxType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfDoors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfDoors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastTechnicalReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastTechnicalReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastInsurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastInsurance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastOilChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastOilChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelConsumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelConsumption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelTankCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelTankCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxDistance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxLoad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreadCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreadCondition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RegistrationNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
