@model Inzynierka.Models.Car

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Samochód</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Model
        </dt>
        <dd class="col-sm-10">
            @Model.Model
        </dd>
        <dt class="col-sm-2">
            Marka
        </dt>
        <dd class="col-sm-10">
            @Model.Brand
        </dd>
        <dt class="col-sm-2">
            VIN
        </dt>
        <dd class="col-sm-10">
            @Model.VIN
        </dd>
        <dt class="col-sm-2">
            Potrzebne pozwolenie
        </dt>
        <dd class="col-sm-10">
            @Model.PermissionNeeded
        </dd>
        <dt class="col-sm-2">
            Opis
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Rok produkcji
        </dt>
        <dd class="col-sm-10">
            @Model.ProductionYear
        </dd>
        <dt class="col-sm-2">
            Pojemność silnika
        </dt>
        <dd class="col-sm-10">
            @Model.EngineCapacity
        </dd>
        <dt class="col-sm-2">
            Typ samochodu
        </dt>
        <dd class="col-sm-10">
            @Model.CarType
        </dd>
        <dt class="col-sm-2">
            Kategoria emisji spalin
        </dt>
        <dd class="col-sm-10">
            @Model.ExhaustGasEmissionCategory
        </dd>
        <dt class="col-sm-2">
            Typ paliwa
        </dt>
        <dd class="col-sm-10">
            @Model.FuelType
        </dd>
        <dt class="col-sm-2">
            Typ skrzyni biegów
        </dt>
        <dd class="col-sm-10">
            @Model.GearboxType
        </dd>
        <dt class="col-sm-2">
            Typ napędu
        </dt>
        <dd class="col-sm-10">
            @Model.DriveType
        </dd>
        <dt class="col-sm-2">
            Liczba miejsc
        </dt>
        <dd class="col-sm-10">
            @Model.NumberOfSeats
        </dd>
        <dt class="col-sm-2">
            Liczba drzwi
        </dt>
        <dd class="col-sm-10">
            @Model.NumberOfDoors
        </dd>
        <dt class="col-sm-2">
            Liczba biegów
        </dt>
        <dd class="col-sm-10">
            @Model.NumberOfGears
        </dd>
        <dt class="col-sm-2">
            Ostatni przegląd techniczny
        </dt>
        <dd class="col-sm-10">
            @Model.LastTechnicalReview
        </dd>
        <dt class="col-sm-2">
            Ostatnie ubezpieczenie
        </dt>
        <dd class="col-sm-10">
            @Model.LastInsurance
        </dd>
        <dt class="col-sm-2">
            Ostatnia wymiana oleju
        </dt>
        <dd class="col-sm-10">
            @Model.LastOilChange
        </dd>
        <dt class="col-sm-2">
            Zużycie paliwa
        </dt>
        <dd class="col-sm-10">
            @Model.FuelConsumption
        </dd>
        <dt class="col-sm-2">
            Pojemność zbiornika paliwa
        </dt>
        <dd class="col-sm-10">
            @Model.FuelTankCapacity
        </dd>
        <dt class="col-sm-2">
            Maksymalny zasięg
        </dt>
        <dd class="col-sm-10">
            @Model.MaxDistance
        </dd>
        <dt class="col-sm-2">
            Maksymalny ładunek
        </dt>
        <dd class="col-sm-10">
            @Model.MaxLoad
        </dd>
        <dt class="col-sm-2">
            Stan bieżnika
        </dt>
        <dd class="col-sm-10">
            @Model.TreadCondition
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RegistrationNumber">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
