@model IEnumerable<Inzynierka.Models.Car>

@{
    ViewData["Title"] = "TimeTo";
}

<h2 class="text-center my-4">Zbliżające się daty przeglądów i ubezpieczeń</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Numer Rejestracyjny</th>
            <th>Model</th>
            <th>Marka</th>
            <th>Dni do przeglądu</th>
            <th>Dni do ubezpieczenia</th>
            <th>Stan bieżnika(%)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.RegistrationNumber</td>
                <td>@car.Model</td>
                <td>@car.Brand</td>
                <td>
                    @if (car.DaysUntilNextTechnicalReview.HasValue)
                    {
                        <span class="@(car.DaysUntilNextTechnicalReview <= 30 ? "time-critical" : "time-ok")">
                            @car.DaysUntilNextTechnicalReview dni
                        </span>
                    }
                    else
                    {
                        <span class="time-missing">Brak danych</span>
                    }
                </td>
                <td>
                    @if (car.DaysUntilNextInsurance.HasValue)
                    {
                        <span class="@(car.DaysUntilNextInsurance <= 30 ? "time-critical" : "time-ok")">
                            @car.DaysUntilNextInsurance dni
                        </span>
                    }
                    else
                    {
                        <span class="time-missing">Brak danych</span>
                    }
                </td>
                <td>
                    @if(car.TreadCondition.HasValue)
                    {
                       <span class="@(car.TreadCondition <= 70 ? "time-critical" : "time-ok")" >
                           @car.TreadCondition</span>
                    }
                    else
                    {
                        <span class="time-missing">Brak danych</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center mt-4">
    <a class="btn btn-primary" href="@Url.Action("Index", "Cars")">Powrót do listy samochodów</a>
</div>

@section Styles {
    <style>
        .time-ok {
            color: green;
            font-weight: bold;
        }

        .time-critical {
            color: red;
            font-weight: bold;
            background-color: yellow;
            padding: 3px;
            border-radius: 5px;
        }

        .time-missing {
            color: orange;
            font-weight: bold;
        }
    </style>
}
